nav{
    height: 115px;
    background: var(--primary);
    position: sticky;
    z-index: 1;
}

.navbar-collapse {
    background: var(--primary);
}

.navbar-collapse ul li {
    margin-left: 10px;
}


.fontsize-nav-increase.nav-active {
    color: var(--highlight) !important;
    font-weight: bold !important;

}

.fontsize-nav-increase.nav-link {
    color: #000; /* Default text color */
    font-weight: normal; /* Default text weight */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Smooth transition */
  }
  
  .fontsize-nav-increase.nav-link:hover {
    color: var(--hover); /* Change to your desired hover color */
    font-weight: bold; /* Make text bold on hover */
  }

.right-control {
    position: absolute;
    right: 0;
    margin: 100px;
    top: -50px;     
}



.right-control ul li{
    margin: 0 15px;
    position: relative;
}

.right-control ul li a svg {
    transform: scale(1.5);
}

.right-control ul li > a {
    color: var(--highlight);
}

li > button {
    border: 0;
    transform: scale(1.5);
    background: transparent;
}


.right-control ul li:hover {
    transform: scale(1.3);
    transition:all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--hover);
}

.right-control ul li:hover .tip {
    display: block;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 40px;
    visibility: visible;
}

.tip {
    position: absolute;
    left: -50%;
    background: var(--highlight);
    padding: 3px 13px;
    border-radius: 5px;
    visibility: hidden;
    top:-10px;
    font-size: 8px;
    color: white;
}

/* small devices */
@media (max-width: 576px) { 
    .navbar-brand img {
        height: 100px; 
    }
 }

/* Medium: phone landscape */
@media (min-width: 577px) and (max-width: 768px) { 
    .navbar-brand img {
        height: 100px; 
    }
 }

 /* Large: desktops */
@media (min-width: 769px) and (max-width: 992px) { 
    .navbar-brand img {
        height: 100px;
    }
 }

 /* Extra Large: large desktops */
@media (min-width: 993px) and (max-width: 1200px){ 
    .navbar-brand img {
        height: 100px;
    }
 }

 /* My laptop */
 @media (min-width: 1201px) and (max-width: 1399px){ 
    .navbar-brand img {
        height: 100px;
    }
 }
 
/* Ultra Wide */
@media (min-width: 1400px) {
        .navbar-brand img {
        height: 100px;
    }
 }

