:root {
    --primary: #F2FFFF;
    --secondary: #BFECFF;
    --highlight: #8247DC;
    --hover: #FF9D2D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.Width100 {
    width: 100%;
}

.fontsize-nav-increase {
    font-size: 19px !important;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    
}

body {
    background: var(--primary) !important;
}

.Landing {
    display: flex;
    flex-direction: column;
}